.pairing-code {
  margin: 10px 0;
}

.pairing-code-title {
  line-height: 1.4em;
  font-weight: 600;
  margin-bottom: 8px;
}

.loading {
  width: 16px;
  height: 16px;
  transform: scale(1.8, 1.8);
  path {
    fill: #fff;
  }
}
