.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--color-border);
  background: var(--color-bg-container);
  max-height: calc(100vh - 202px);
  min-height: 100px;
  :global(.luna-image-viewer) {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}

.resizer {
  position: absolute;
  width: 100%;
  left: 0;
  top: -8px;
  cursor: row-resize;
  z-index: 80;
}

.no-screenshot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  opacity: 0.5;
}
