.container {
  position: absolute !important;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: none !important;
  border-right: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    max-width: 100%;
    max-height: 100%;
  }
}
