.container {
  position: absolute !important;
  top: 31px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  video {
    width: 100%;
    height: 100%;
    &::-webkit-media-controls-fullscreen-button {
      display: none;
    }
  }
}
