.processes {
  border: none !important;
  img {
    height: 14px;
    width: 14px;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    margin-top: 1px;
    flex-shrink: 0;
    vertical-align: top;
  }
}
