.applications {
  height: 100%;
  :global(.luna-icon-list) {
    height: 100%;
  }
  :global(.luna-data-grid) {
    border: none !important;
    img {
      height: 14px;
      width: 14px;
      margin: 0;
      padding: 0;
      margin-right: 2px;
      margin-top: 1px;
      flex-shrink: 0;
      vertical-align: top;
    }
  }
}

.highlight {
  background: var(--color-primary-bg);
}

.open-effect {
  position: absolute;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
  background: rgba(79, 177, 85, 0.2);
}

.open-effect-animation {
  animation: open-effect 0.3s ease-out forwards;
}

@keyframes open-effect {
  0% {
    opacity: 1;
    transform: scale3d(0.1, 0.1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(4, 4, 1);
  }
}
