.workspace {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 31px;
  bottom: 0;
}

.panels {
  width: 100%;
  height: 100%;
  position: relative;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-bg-container);
}

.about {
  text-align: center;
}
