.path-container {
  flex-grow: 1;
}

.path {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.file-list {
  height: 100%;
  :global(.luna-data-grid) {
    border: none !important;
  }
}

.highlight {
  background: var(--color-primary-bg);
}

.transfer {
  border-top: 1px solid var(--color-border);
}
