@use '../../../theme' as *;

.container {
  width: 300px;
  border-left: 1px solid var(--color-border);
  height: 100%;
}

.unselected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  padding: 0 #{$padding-x-s}px;
  height: 31px;
  line-height: 31px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--color-border);
}

.box-container {
  padding: #{$padding-x-s}px;
  text-align: center;
}

.size,
.box-top,
.box-left,
.box-right,
.box-bottom {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: #{$padding-x-x-s}px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box-left,
.box-right {
  vertical-align: middle;
}

.box {
  display: inline-flex;
  align-items: center;
  padding: #{$padding-s-m}px;
  justify-content: center;
  width: 120px;
  vertical-align: middle;
  color: #fff;
  background-color: rgba(147, 196, 125, 0.55);
}

.attributes {
  border-top: 1px solid var(--color-border);
  padding: #{$padding-x-s}px;
  flex: 1;
  overflow: hidden;
  font-size: #{$font-size-s-m}px;
  overflow-y: auto;
  table {
    width: 100%;
  }
  .name {
    width: 100px;
    color: rgb(220, 54, 46);
  }
  .value {
    max-width: 150px;
  }
  .true {
    color: var(--color-success);
  }
  .false {
    color: var(--color-error);
  }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:global(.-theme-with-dark-background) {
  .name {
    color: rgb(92, 213, 251);
  }
}
