.container {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-container-darker);
  :global(.luna-image-viewer) {
    background-color: var(--color-bg-container-darker);
    width: 100%;
    height: 100%;
  }
}
