@use '../../../theme' as *;

.container {
  border-right: 1px solid var(--color-border);
  width: 100%;
  height: 100%;
  position: relative;
}

.tree {
  width: 100%;
  height: 100%;
  padding-bottom: 31px;
  & > :global(.luna-dom-viewer) {
    height: 100%;
    overflow: auto;
  }
}

.xpath-container {
  position: absolute;
  bottom: 0;
  line-height: 30px;
  height: 31px;
  border-top: 1px solid var(--color-border);
  width: 100%;
  display: flex;
  padding: 0 #{$padding-x-s}px;
}

.xpath {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
