@font-face {
  font-family: 'aya-icon';
  src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAASsAAsAAAAAB2AAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAAEoAAABsIMQljU9TLzIAAAFUAAAAPQAAAFZL/UkVY21hcAAAAZQAAACLAAAB7Oka9MlnbHlmAAACIAAAAKQAAADgE2OCx2hlYWQAAALEAAAALgAAADZzlr4saGhlYQAAAvQAAAAYAAAAJAF6ANFobXR4AAADDAAAAA8AAAAgAMgAAGxvY2EAAAMcAAAADgAAABIBwAFQbWF4cAAAAywAAAAeAAAAIAEUAFhuYW1lAAADTAAAASkAAAIWm5e+CnBvc3QAAAR4AAAANAAAAEk1/BSSeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiCWgdIsQMzOwAyWY2VgA7IZgZAJAKrZBZQAAHicY2BkkGScwMDKwMBQx9ADJGWgdAIDJ4MxAwMTAyszA1YQkOaawnCAIfUjI8MJIFcITDIwMIIIAF8ICKAAAAB4nL2RQQrCMBRE309jKyLiQTyPJ6iUbrppT+DK6/YEdX7yi1tXnfACM5AMPwFOQCMeIoN9MFxvpVbyhkvJM0/5G2cSLS8GRiaW1bZN+e7n8D+ZzuzrXto6tba6JXuDtRyj2iuVwpQPqv1L17L34Tr8PSv+N0Pg+Rj4JFPgA81BEkugEVerYF/lvBSwAHicdY+xCsIwGIRz/0+TgJREmqZDwUqFdhAq1DYZHAqufQWfzXcQX9AGN8HjlruPG06QSHqJt7iLVYgY5j6O09wPMOguGHBGK0slVd9JA+mulapU6xocsMA3cP6GMcwxxMqHBWE6qbabwuidfAJ7WDAKpQiEI4i1LLbCJJJsvpR/4Lqz1lv7yFjnTDUAnXEJIpSc6S3WxLn+z2Rae7sd+wDgcQ+2eJxjYGRgYADi784mcfH8Nl8ZuBlOAAWiOB/va0DQQLCRYTOQ5GBgAnEAPBsKuQAAeJxjYGRgYDjBwAAnNzIwMqACDgA5QwJMeJxjYACCEww4AQAVOADJAHicY2AAggJkCAAVggMRAAB4nGNgZGBg4GDwYWBiAAEQyQWEDAz/wXwGABC8AW0AAHicZZA9bsJAFITHYEgCUoIUKSmzVQoimZ+SA0BPQZfCmLUxsr3WekGiywlyhBwhp4hyghwoY/NoYC0/fzNv3u7KAAb4hYd6ebhtar1auKE6cZv0IOyTn4U76ONFuEt/KNzDG6bCfTzinTt4/h2dAUrhFu7xIdym/ynsk7+EO3jCt3CX/o9wDyv8Cffx6g3TyBSxKdxSJ/sstGd5/q60rVJTqEkwPlsLXWgbOr1R66OqDsnUuVjF1uRqzq7OMqNKa3Y6csHWuXI2GsXiB5HJkSKCQYG4qQ5LaCTYI0MIe9W91CumLSr6tVaYIMD4KrVgqmiSIZXGhsk1jqwVDjxtStcxrfhazuSkucxq3iQjK/7vurejE9EPsG2mSsww4hNf5IPmDvk/PRFeqAAAAHicXcW7DgAQEEXBe7yWDxXRaOz/RyEa04yCrvevEogkMgWj0mS7u8812HScyWJIB1PeBdY=')
    format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  display: inline-block;
  font-family: 'aya-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: '\f101';
}
