@font-face {
  font-family: 'aya-icon';
  src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACScAAsAAAAAR1QAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAAr4AAAT8f6Z9wU9TLzIAAAPIAAAAPQAAAFZWmlORY21hcAAABAgAAAJZAAAGIOL0V9dnbHlmAAAGZAAAGaAAADLQEiInX2hlYWQAACAEAAAAMQAAADZ25cSyaGhlYQAAIDgAAAAbAAAAJAgCBGFobXR4AAAgVAAAABoAAAGEGAH//mxvY2EAACBwAAAAmwAAAMQLzxjkbWF4cAAAIQwAAAAfAAAAIAF8ALRuYW1lAAAhLAAAASkAAAIWm5e+CnBvc3QAACJYAAACQgAAA3aYVoK7eJxVVMtSE1EQPTOJPCKmsEBERIyIaCkqUpYPfJQPzGQmk2SYPIiTgODGsopyQbFw6ZKV5QfwCa5cufADLD/ClR/i6ZMnmZqkb9/u06dP3xs4ADJYxXO4G/mwhuz+3uEnzCGNzsf2h21n/+OHPYz1VtxL63cMTvoIU1jBN/x28s6B88X56hw7P52/Ltysm3M/uz9Sk6l/6en0Lk5hAktYR4g27dMI+BRRQpm/IaqoISZuZshfQYRNekdYaeCto4EURuGjIF/IX4eeAp8UIxfIZ4o4IRI0ue/ziWjFOEukSKgx30myiLBFvKq4rRLtPQ7wjHERWsy0qHIXI1atirIDLDPe9r1uzKCDa+xseKfXw1UyNivgd8LIJVVPxMUlrzlsYJydRaxVZlyozHl1btgh/R59pv55vj5jilo95Bsqw1azWiVd1Gm84PcucT3pladCbeLa3jzOUaW6ejKljJlVnyZCp2OLmsUTcrCeW30OrxgRETVWxRm+QXcKaZ6pEUZViNDEW9pZLOIOp55nxiI7DLRjnSe0AlyiDh5ZmBILtGuqHeEKbZu3Vc4Rt8KoNi6Tv7GwOec4sXWqbZVDsbcZh8ofp9qd85IIYZQIXp9RjoyeMquGl8TpTNWjRhabYYTHXi3LwxmuDLupaUyIXyScN7TN53E3K8Ua5JehGmtE3sEhjnCM7/iFP7hNnEgamXpl8quzwpZ8N5gz0L5MnE0+t054m8yzia50vR3GZe0VcJPdnkTwqcy4kGKuS+qkgbs6gbE08nmi1riONQOPqwj32OsOmXnCui7FtmmZ1jM8rxekjN+NntNdaim/jYuaVkG3y+KXeQ5eU5dQvqJuSKSbFMgT4L7uSUVK2D0paFo+HhB34O+cwMeaUpEe665O1o/IveexbhzeeK//f1Dq37qq/i22WDlh7Dbe/QfjPZnNAAB4nGNgZHrMOIGBlYGBqZPpDAMDQz+EZnzNYMTIARRlYGVmwAoC0lxTGA4w6H60ZgFxY1gYwcJgEgD6kQnNAAAAeJy11AdSFFEUheF/SOqQBMk5B2GQIJIsLRM55xzMFOYsy3UHdwV4mns3gFW+qW+m+1XPvO7pPgfIBbKlV3Igq4yUtkgVaTZ1OZ9N+nI+hz/aT3OdLL0ynHJuExcXmstwwpmlLrd9pHRcmhpGtb3IFFtsM80yK6yxzjw7LLHHDHNscsgsu6yywQELHLPPkb6fpfVyyeOa1kuTTyFFFFNCKWWUU0ElVVRrhVrqqKeBRppopoVW2ming0666KZH55+hj34GGGSIYUZ0TmOMM8F9HvCQRzzmCU95xqROO4+rjcUrHp+Mqa3t6eWVtXX9C0t7M3Obh7O7qxsHC8f7R//wY/9hFCRvOQWxt0Fyf11ytSdhSp6HLXkRtuVlmJZXYVlehxV5E9bkbViX0zAvZ2FH3oUleR/25EOYkY9hTj6FTfkcDuVLmJWvYVe+hVX5HpJr/xEO5GdYkF/hWH6HfTkPupmWckmOLMuRfGa7JG8Wkhxa0FOPBT3/WFASsJBk0m44pQNLO+UEy3dKDFbglB2s0ClFWJFTnrBip2RhN50yhpU4pQ0rdcoddsspgViZUxaxcqdUYhVO+cQqnZKKVTllFqt2Si9W45RjrNYp0VidU7axeqeUYw1OeccanZKPNTl1ANbs1AZYi1MvYK1ODYG1OXUF1u7UGliHS3rROl2SAety6hSs26ldsNtOPYP1ODUO1uvUPVjGqYWwPqc+wu64pC2t36mjsAGntsIGnXoLG3JqMOyuU5dhw06tht1z6jdsxKnpsFGnzsPGnNoPG3fqQWzCMfkX9ffHQwAAAHic7TppmBvFlXVI3VKrdbS61S2NNNJIGqnHM+O5dA1zj68wvmawPYONrzHmsB0w4ICdXWIijjiELxweEj5YEq5dSNYOCQETB0OI4WOBrAkkEEiIc0CWj5AQb0I22YWs1d5X1dKMbbxXfmx2s+h4XfXqVfXrqlfvqkYYwYeW6ZXIg1BGSRaSSlpJhpIKGcKD1hNl6yAeKvOfdRAqyMHpD9EwSqJ21I2GEcJx7Me6AV8hnUxlS0X4mtkBrCdwMddllAawMyX6sNiZ7GzDZtYUu3RNSGXzxWStQLMeUfjQ2p4+D1Z9R7/iU7GnVJxYLIh6nbBkzflrxk8XI9bP1y8/42KFisrWsWVrnlYikXQkgncH+ZUqYsTzsdLqtVt9oZBvy6qV3Z+QI15B3tWSvsIj3t88a2r1WbtnteC7GHHt92f1LPY63kZbkAuewhDd8E+GsOeZfuslPLv/GXI9fvHpftyG2/qfngDSGn0npxcNN/yTIfL7Z/rxbOul/mcqH8E/eD99G/2cPX4Jxi8pOdLydL/1ovUi0JB3Z7oCKeH0E/RLSEEa9FA0H86aMF6+WMIDMM3AIR2XtbC7ssctSW4y4Q5r8rjViH9EyxUkax4s4LKg6iq7YI92lvW89TyC0di4FixdFGX5qs1Fi9EytBJtQBegy9Dl6Ep0HfosugN9Ae7K1qgF8xUTNCOOYWFzRVjEUjGfYUsriIIIi1gs6YYgpotqFpY0B2Uj244ZUjeyBsNlzWKpwEhzhTTDFxiCfQ0QDIbPmrrJxQbGCTGKdCjH8FAtMJzAb8V66EaJNRRLOYEPy/rQV8zr16w933H+2jXXm01Nx1eOfm14RX08W6/65+ZXhht7l0TJIbq2MZykh0h0yVUrhuX8XL9an43vaojPalC8oxNrxiPkuedIZHzNxKhXaZgVbzh0Cqq1K2pUA/EGTvjdU9zoWbhHL7sZ+dZqm7PV67+zDvgyMTaBzXXfeWM4LbuzfdnWYPST3e0N2jmXrLD+oqN7yfi2jaEHG4e9MaU125t1GWIkNZRqCpBZJLj+wlkXrA9CKdAEuDohnR72RYOtMIjbEOpmyC6YdSGQ/Twi/oRTLhhulF0wVqsSu7a7oyG0cdv4FZecozW0dy9d8YFcfCAXp5YLgcvFE/QuJKMIGkEL0XK0ESQgBZpoAHfFMeglmvJhLY67BnC+DeMkNBUUaOzFTKeDmAghRdNzya4ioLPMLOSLUIvjEFNqNK3pXcV8NiVkOHG20Jkvsq4hgvIr8/mVmxjIp3tTqd4FDOD+ylBdax38Jr2q6uWAHGTQuotBPMlbF3bEmmLws15TvWWGB4AbqsMBwEPV8QBYDdCFIABqHRsH8TEZBERrncVaSIfGhos9xtrYv6rTHWD9kYgQKHRsduIS3kY61lW2adY9k3iIDE1WJkP4vLX/LVpb9++le0Hzz2JzDSIO2wwkuottjjzbODTFYJ7Vu1hLSPMRgi7duKG7t7d7w8a3aoVL144uaYPPktEDrJCf3En3nkDACxU0TcEKa+ftnMwDC5yPi+kWVIeaURtwwhdOh3XjK8XWCXwdZrcL6ZkmtsIFVUkqeDjoxe94g0HvAQZut5YE64IHGE5WVdnye4MD+CG6iLWxCjTih25ntVozkL5oLcEPTdvDY/R3aA5IIcKMA000mNPQjn2ONHhdqTbSDvooDfI3iIEjm8ECzFKxK4GTMFG65sehHHCJk4DTQ9QKKzc2XyMbac8VDnlW82B8WcNwW9btvswb9IeJ58rMjUoYSC6Sw0nvVlK3VU6F5YsAB7Z00449O/AjSvjCxZ9g2Cuop05TSF/lqWA44nZf49NT8u6R88LJ8GNb5WREvugiOZKUtz4WDuCLxnfsGEd/ps9k+zlz6VzmD4NPJBolo2SWTBGrE0d+NX7kCId07kS1BJB5RNDnGfosSqBW1INOR+Ngca5Gu7mlEfxYABUxyL0eQ4OqDwo5jsg6u4r9mCmPeqzpOJsGTQSWgykUs5Rm9inO1BCoF6dNYpOb0AAzmy8OYqZ52IhanHRVq1jPgSoDSwXDaoaY6wLD1oaZHtN0eo25ebO5z6PHpX2xpQtbsabuczlcqscv7TNjscrz/pBer+v4m5Lfo0LD+VI8JMm7/R5OtNsfClk/BhAPhf5yX7Az35HRtOA+KQSj1ScSPYvGFtWzsa0HPH5PELqc54mHPNBdgnKQd6efMKNRc58U1z37Yv74nKZoR3CfKxSSPfuAs+0hPyNiwGqUZE0Xz2eDv+dxhTQZ7nrNTPvCfaqmZYAFdR/jcV9s0bKFPYlE/UNwS3ytx6uF4O6huOddyaXzvuiDdfo/sk62XrmGnofmoaUIlWyXSs0l7MgMvtxj041OPSSmYDFAweRhTkvFQr6dgK0Jacz/ApvCW2Fd0xiMDExwZ9bcKYcTXt39Tp9zfSDRqLn8hk/y+lxq2E1x/Y767MIOAw/7Rblb/q5Xj8QDjV6MoxdGHZIrk8M0mOmOuoNNbd90UEHwhMkl0muZRatbNbM3FvI4iMNJg27Z5aBawEepIHl3xXC0b54ccgsO7A46XW6CRdyJMd6+FszpsWMAMMTeAYhAc2g+PCtoSJAcUIT1IHqgSZM1lWnjNIEygirSxiTtLjV3BezZy3s0wzCNMkDyK1bWylA1NJWjNIY5OqdWgrbydMms9WMIgmod99SIeSNbHte0jfcjFaWRiUqoFy1Co7CXkid6TDRdyGVOgVP/i3R4r/WyGg6ruEU1jIGXXyYI6obB6uEw1FtOrFoTJ5LTvWF1hsJ6+eWJk+pW2VBnulivvDx+Un3a1pGH6X4U555EyPYT7IkvpGeWIKTAutGQ7WHUkORh3W/9yK/r/sZGBg/7dbiO6P4pVgOA0QgrATjMIGwda79Orr6QIRmw/Vjwv+6CmVe4P9MDvixS7aQD3JFpDaaApgtq0lZCwCZXSf9Z/WD3WDf8JpsY7G6yL7fanmllaMZLfV+ZDtm01rv2CFZ1JPwD1TvGqABYB09drsrRH+hvYQ9oKAP+Yg8aACla/n45StOkkjxZaDjyZKmxKU2mcQWNqWmmcE2nWTLwNdY+r6Z58WKfqvqS1r9gd/J9GJKzHmYVvMinaTbq8l9KUeltt/ttuPxSkizr0Ucfo19RfdbdnHC9T7XuxvVWO2BqXVXrYeyeczIC//XMKGzMlx579FE2BXaccpj6IXpdACu7FGLXCYQyXLLSoXRh5l8NM5TjPFYzXYs7wG3NVfVArmBTgCZh8alo/1twLpSmD90ZMApj+S2FsYIRuFMxDIVuZtBsCQBsPvpmUyAcDjSNSgpZEJDG7hwdPTA29gj8Rpfu1QPZxfyTDeh6gBgMVn4R0B82An4Dh6y39QZjcy4gSYHcmw/yDxdd9nzvODAKoRbwFxfzXBvE31hIsbTQAIQUOssMlSAkE96HBf3tjBOwydClHeM2UizhopF24xyGxzTp66Ibu11Wjzpbtc50O2XNjf824MdPCX5RdLnFUzVYEY8Hf8vjJZLksPrkmFewzpA82CPhh+QAtkbx/U78JMF4FfUGvNQ6IstYFTTFKVhHXC4o0kehQabWP0JD0BlSHE7riAhuokDwm86KqNeBRbGOCATquhgK6yImYqd1zPoVVmHUmTW/l34BdCjLQXahIqw9AsXPpbgWeZaYl5AS4ni6cMqdQU/qhtsHHU6nY9DhcLykRHCkEf5KrYBvOfrPTCypxGBLZTHZ9/eD1OmkrA8+00nxHFazHqfOQphlGMOfsS94l+qb7qodPUb2VSrHU8/EBUN0GJ4rYcswk1ZbO9om7fg6ReVoJhNlwDp3ungwEyWIVSwOZ8q1uO5K+gS3PO1wh+mYfSYuPzlsp9M2E+7YUDloh+DEDsUr93GdxjXbQa7ZGGBtpErIY3Y6dLz6qwyxaLtOrT7vHXQPrCGzDWYbFp1iVflA5KszJ9LgsFgoqcU8FkIgyYMYEBmD3vhj/yy/9btJl7snELj1Bbcm+V3fvs1naMEet+8Nn/VDwd9mPdi6ziFS7HuBPPYTH/G96Xf1+lt9t74gRTT3t2/z+3tdrkksq83WjwX3ujY82upzkDdfqMUzwxC3+1ncDu6QPS1dsH/ytLnyPY+H7XtJJq06acOLBUOpjCmGiBcFu2fWci99Bea5D4YDt0vjabOUyZJodgAPKKGWSOuy02g8ui92ZewlthectvU2pFIN25eMfnl0yXZW7PWmI3J7tK4uuq5/6Lqh/nWs2C5H0tZPgxEQ1AilvUtG7x9bvD0Jn+2Lx+4fXdIrhxvl9gFOXheN1vGeA+1yY/jpiGKNQ78g3qtEpnXOK8A781GWozOZTZnO4vB5UGHjgPkusG1znIpNM5OYDoGmrP41vZcp1Fztz0wn6NMC+7PNB277Hp7CmQA4G2+xbiHXTareyaHPwnfSq07yz0mIocotZAv2qN6ZvniPdQve8u/2mEZYOtlSXdtr6C7UyGLVNpw+KdNSSGu+aqYLjIIhZui55xau+dDms1bmCoXcyrNeZIUr5+/49I7583csaFueugyX6K5z2rumG1lh8wLWDDSJ2EfwjExcCb6fzM9M7MSZnUTLtBEzmy6IRqGLiQNsRltcRIHLC3Bk++85xiBIygB4tgQdlx273b9i56Js0549iXjPhmSkLuxpCA2u7OuDSm481dDc37H1NDO7aDBe0JJJPJ7usZNgPennF+5cERAnyuVxQR7uzIzP7uuOdmiDQVmWhzsWrz5ta/tAc0PK5W8J5RPtMEZNj9xEb+fy0XkKzxVWtsSSuCAfVVcC1h0ejPpxrmhmyV2V33BtEAB4mnU6/vo3e1YsO8vtKFNadrhBg1yyLCnSRXJII+tggc/m+b07wAXaihfct7DJxENOBz2XivB3OgeJa3Dzx4YCo0vHarztBt7q0WzOW5FJIXNkIGAE6WR5Y/gaOTM7QJynYBy/rqo1Ts5atqInD6HZQuJKLbsEv3Ay29RJhiB2qXLiGMJm06LhsaWjgaGPbR6882TOGWvO6tzdhIJIB/nrBL8NsROxwomsZJKhJAafJGRj+rHhPD7bKtreK6jknffI/sp3OFuvgW79DUbHEH62cvG1cF9QuddaXzfnmOacpQyYyfb2Oe3t5PA9soOCSm7g3eJ15U2VH5CbrmW1bdeeUyUG8BqjntM+nd8BP/otFGWWie120cT80BO8Q2BUTcJ2TxaSZGRqZOXPcnT06Hsj9PauXGUDmVhArambK1/DWw9PTR3O057KfjLVka9sw4crh6dGRlBN58D4+5GHS1WEnX3ZQ+YKSYUpFcyMtYHBG3UgPt7N1hTcbQpvPTpFt76at555NX8v3V9phCGnyI/gSjOV/fhw3nr6h/n7/qfuwWNTRA+iFD8ZXWHvjnrMFOUJhjadBAesKne4mstlCp+bAG501drZqAkOKetmtzN9laU3HH1DVnStJZFP0BgA+FnbCL5JVpSjuy+eXFvqjqQjs1sWLl4Fmr3BSKXawRJEgsMXDYcbI82nNwcjFJTik+Qg1yHpShmuHUYE5KEM0vra4MDmC67QYjHtnInlnV0sn17OFDPwu0mLjexcyFo6zmiPVeX5J3Q391na0SBaCdG4HcHZTjS42ZmZiI7X6anbp+s4BXuVZzqVLEi5qFTzncKwV1G89AoGj17F4FNyMCg/xUrYYND6BS9fArMg43i99mVJi0ufJHpcJzdIcU36spYJehMswwzgt6psF2UVo6A3zsoAjs0UK39nHPAkdM9NJAL+faDy01tlI+E5YFT3sYOJlAF++XyIOtZBVJnyEVjbOIEnGSCwsG0knTluwWveljpt2nVDVezzFGbus6Zx/PmKae/1NItM9+tNCUVJNOlkqlaqbCVTXSs6O1d0Vbby6+V6vR5pkF6XFE2RIkn3e+Y805w3OrepaW6TltLgF29pofvtvieONzIzShcf1dpoPcnCafy1oEZ91v14QFIk+FkLWT1gzls6D4YdnWeOaCkzpTb3t9Ts2ydBFuaiMaZ58ybYqXaIR/wsXWfn6GAVRTPLLuyoTzPAyiUgohlkeUE7GcgyUobOLlnTecJ50yxKxwVCxxw+cWNDox/L4l2ijP2NiXNEH2CpcxwInNQxRn3iOQ3pUxBYV2WHstmhxQzgV/WUPsfpE68TnbQp7N8iSpK4xR9uok5A+Zxz/uPmdHUYAOj/97PbNvcgXQ87oQTPjzLceYE9bGbZo+TsrFwRvAFz5hzQ4M+VxvwNEBurVkNwViZlh6C7rxOo4JSuE1yeAAQ3QZ9fqfBIh5RzbS3sfLBSpjzCqXB4sAbuTrpdkiBucAiesLjBGZRT2bpgm08BBZZq2LR5ZZ48ni1kMoVs5UkAUJzxz8rg81N2WseOsphDAHcYr+whE+z9Cooq44S91yFy2luqeTwDrGICrHnTqXyhAv9mCskQc5VVsDIFBQp0vDIRa2yMkT0AOytlUq79LTTe3Dw+TvfCYzXzp30lmqmgPRPw3WM1T0yQiYkJa8/ExHE+5ceBiyzzZquBSi8LKTgDKSPrwzqfbRJnjmM+S9oefI5p8Oce9JuxmPlzJat6FNXQMx41q7R0dtKLH4xp1mta7EFfNETuCkXfdHvSWbcn05rRsmmPO7xsctmf+N62zL1Or4R7N3Ef6hR3Z0cJNQYEftgALGQAEyczDOHnT2CI0NVnBMyQS+mbO7dPcWmmcsZq6w3GZUafYXLbSUxa5fX35TzupOnJXv7py7MeMynJufveY6xrJ3D+f5VvOyb8Ev0wyPps/o4Iz0ORLIQnKcYjSy2BstIpy06ZPKaaQZaqyBMpp33YOwWRSooijB18/uCYoCgSFYVV33vjezd7HIGolDg9u3RQVAISEUVzzYY193Fsz3VT1/VUsXM+/8XPvxNl3kmGvOoMKD6BOofmzRtyUsGnBJwfWrTIutFVF3K4jHC7QESGq08kPspRrW1trU7C6boKBatQVQf2On2OfhGlwYuDnYbtYJcHuHbiFyJbBnhIa6eEsTmA+dstWR672YcuTKHbidRaMMcjfR70iwLZud1J+6hzO0sEzRRxZKqvsS46f2Tj5IaNU3WRSN3I/DWrHlk4RUTSQv6hZ2zJkrFLQ5oWunS6RObvYmPs4mMcV7RWTi18ZNWa+SNslKmNGyY3jsyP1jX2TREYSby/58RReGl6f7Hn98N6z6l5sbVo5I98VutZxhfu/mOfkD/QH/1Utr66mz6BBOQF/Q6+V05JYwpBTE5dO/dLixcTBcCvybJmLFRCdKcVtf5A3j56Nd5alf+9dAJmRkYx1MBmJJQ0SyyuFA3xVCEwQSwY21+W5XLfhg3kIxXEkiyUwf7KBNmD9054y3IjtJ59Nt4fUSp7lEhEIRNKpLKXTOc5F9FDYFdH0Wq0CV2KyjzPWT3OYzkisRrQgmjay2Eyx7J69lcUfURkfBlxYui5zq7SACkx/kyebuhMqXZQmWMHH+K0swGOh2pf+PGZclwZW45Nmf5MUo8IDocQNpJQ2XQ8KqIzVGJ2W8IBn0Tb7OSmTckTapvszGBTd/ezLQsnFrZwcEjWdE2ONEZqV3qoNtYm6+j7b4ln7jnPHvcYOvE+uFY/hupm52ZHukdPm2xhdztzpKVlBLfKmsejyTDjlV9PFz+Y8z/FnNt76wz6fZQDyzIPLYH5ZrFyqRgntqLlKoepEx9DnPLdMpw88WwnM/1+Gb64sT9Tn2/SKR0itDR5WsvYQIqSyyh8yF0EgNVMKL6p8ntWJh6A1nvVt8jIxddnhk2MQ2Y+Np81D5+2sQ/jRN9Yy01QpZVDvE8BipZIKbaHm6T0FfutsarO2U/3ozDqYO/6+LFR9XcZtxDilhjQscLf/hEFHvoOshQxfxT8nvD4Mk/Ifwz5dT0uLf+G4BeGBfz4TNlux9CO73UJ31guxXWdVUOeZY8LjPbNYzMVf5Xgfzdf5BW6HOlgd1CGh/3HM8CyCIbJZKKa00v5cfXE0iAvCEJcVISbbxaCQlwQHpC8Aa80wOED0ARYaFJEaDpiU0CVo78qSU9I0gMib2PIBCCn8150O92OMjM2kIljUuFxORNB5hew9+Gqb68wx96rqhENh/hLipi/VjgJ3kJEVellKuh8TZMnK7ewekQjWyZZvexVUc3uOjDtR0GwMXZu1ceSA3GWOhrABaUNO5nBbcPctMZxhkWVjC2WZWW7AQzNP8Xao9H2GAnUt0dpnzXlNOsSxagAl4ZClHz+Uw7d5Zn9KbWujvbXd9Rby2OdMfjh+1sH/lBnOoVYsT4Kl2jxjrOI4vYFn0nGVvn8YXwgrE3zSO+lk6ien70hO7nFtmEt0mXqj89NSS1mcl0svLWzO0kWBYOA4aSapH8lBTytcev7DofpblTfSrQKUoCUJYWWhYr4lsOZldIqnuUQKocAN0cgcytPbSJ9ZMA7GW91zglorYnKXsntld34w4HfOOaAqDomZekRfJtTqBzELTO8/g29F/zter6G4K+QOLFVte2/xKnITkydmPumJNaQ2PbY2drVL1zy4VVnduYIy+XvWnzVEmfaGjPXdFrv4q8Wyx8/r0DoPYS4Pv78zw6s80h9PWvWf3/dWaf1XEYWXXnLXHxBPI7vsD7TFE6Of/TqaT5eBv8hCJFiJ3+7E5Zx+uSHKTd60su1JMRWXR8g+TaC/3Xz5NobMpkb1k6+VCts6dnY07PxMgZ6Ix2NWro3XQcXrbGDjs+aNbVu/VRTc3PT1Pp1U7NmVd6sUgLAq4Ak0tibwnDNQQ+E/g1CiSw/eJxjYGRgYABicV+vj/H8Nl8ZuFlAAlGcj/c1wOj//xkYWBhZQCo5GJiAJAMAKf0KbAAAAHicY2BkYGBhAAEWhv9AwMLIwMiAChIBW6oEbQB4nGNgYGBgoTr+/5/6ZtLSXOyYXgAAENkFFQAAeJxjYAACCYY6hicMfxhFGHUYI5hSmAuY/7GIsGix5LFsYZVj7WBdxFbG7sW+j0OGYwrHFU4HziNcJlz7uLW4o7gXcX/gEeDJ47nHK8Vbx3uGT4avgm8F3y1+Hv4WAQaBLkEOwTbBV0IMQi5CTUIHhGWEK4Q/iBSI3BL5IWok+kZsmbiIeIL4GvEvEjoSdRJXJCUkM8iBADc0MaoAeJxjYGRgYEhkWMEgyAACTEDMBYQMDP/BfAYAJHQCMQB4nGWQPW7CQBSEx2BIAlKCFCkps1UKIpmfkgNAT0GXwpi1MbK91npBossJcoQcIaeIcoIcKGPzaGAtP38zb97uygAG+IWHenm4bWq9WrihOnGb9CDsk5+FO+jjRbhLfyjcwxumwn084p07eP4dnQFK4Rbu8SHcpv8p7JO/hDt4wrdwl/6PcA8r/An38eoN08gUsSncUif7LLRnef6utK1SU6hJMD5bC11oGzq9Ueujqg7J1LlYxdbkas6uzjKjSmt2OnLB1rlyNhrF4geRyZEigkGBuKkOS2gk2CNDCHvVvdQrpi0q+rVWmCDA+Cq1YKpokiGVxobJNY6sFQ48bUrXMa34Ws7kpLnMat4kIyv+77q3oxPRD7BtpkrMMOITX+SD5g75Pz0RXqgAAAB4nG1SZ3PbMAz1qyVLtpO0abr33mqr7r333ntREmTzQpEKSdlxfn1pyx13LT7gPQB3BPCIxqpGbZ3G/41hFZrw4KOFACHa6KCLGcxiDquxBvNYiwWsw3pswEZswmZswVZsw3bswE7swm7swV7sw34cwEEcwmEcwVEcQ4TjOIGTiHEKp3EGZ3EO53EBF3EJl3EFV3EN13EDN3ELt3EHd3EP9/EAD/EIj/EET/EMz/ECL/EKr/EGb/EO7/EBH/EJn/EFX/EN3/EDDEmjybIsYDLTimftKUZxh2mthpGg3HZrqnmvb8OaV6WXsHQxSFxgSLenGMWtlBWkmZ/2yZUnfpzkOhXkpaoc+RklVS+YeFfJSJClTsZNqqSk1M78oVHs5UraTl4JYVJNJL2e5pnHZa48wY1tFUyyHrUKKpQe+YVyr4XKzcklE37JKkN+2VeSmiWXXinYyC/V0I1bapWSMUoHmnJNpu87R7arlWWWJkvPTPlka8+wAXXqGSKV5+1fVHZ/MydZzVNm7JgqISKS2azThTMRyapISAeujeWy155iFLeNym001KxsmaWKaQqMVdqt1R0oURUUZWooZ//iTrU6CqfJ2BvynAcrShURl+EEVWW7Cc+4djpyJUNLuhirMq+dVm4tJ7EdT0h64Z+Ma1BJodLFFi2X7iDCGqI4TF2dlYY8S8t2bsAzUpHroHTmRFWl0yHngnz310w3aUTuvjJIaChwDN1VCxByWPTQR4USCVIswqDACAMsYQXLjcZPMdr3awAA')
    format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  display: inline-block;
  font-family: 'aya-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: '\f101';
}
.icon-android:before {
  content: '\f102';
}
.icon-arrow-left:before {
  content: '\f103';
}
.icon-arrow-right:before {
  content: '\f104';
}
.icon-arrow-up:before {
  content: '\f105';
}
.icon-back:before {
  content: '\f106';
}
.icon-browser:before {
  content: '\f107';
}
.icon-camera:before {
  content: '\f108';
}
.icon-check:before {
  content: '\f109';
}
.icon-circle:before {
  content: '\f10a';
}
.icon-copy:before {
  content: '\f10b';
}
.icon-debug:before {
  content: '\f10c';
}
.icon-delete:before {
  content: '\f10d';
}
.icon-disconnect:before {
  content: '\f10e';
}
.icon-font:before {
  content: '\f10f';
}
.icon-fullscreen:before {
  content: '\f110';
}
.icon-grid:before {
  content: '\f111';
}
.icon-info:before {
  content: '\f112';
}
.icon-list:before {
  content: '\f113';
}
.icon-manage:before {
  content: '\f114';
}
.icon-memory:before {
  content: '\f115';
}
.icon-model:before {
  content: '\f116';
}
.icon-original:before {
  content: '\f117';
}
.icon-pause:before {
  content: '\f118';
}
.icon-phone:before {
  content: '\f119';
}
.icon-pin:before {
  content: '\f11a';
}
.icon-play:before {
  content: '\f11b';
}
.icon-power:before {
  content: '\f11c';
}
.icon-processor:before {
  content: '\f11d';
}
.icon-refresh:before {
  content: '\f11e';
}
.icon-reset:before {
  content: '\f11f';
}
.icon-rotate-left:before {
  content: '\f120';
}
.icon-rotate-right:before {
  content: '\f121';
}
.icon-save:before {
  content: '\f122';
}
.icon-screen-off:before {
  content: '\f123';
}
.icon-screen-on:before {
  content: '\f124';
}
.icon-screencast:before {
  content: '\f125';
}
.icon-scroll-end:before {
  content: '\f126';
}
.icon-serial-number:before {
  content: '\f127';
}
.icon-setting:before {
  content: '\f128';
}
.icon-soft-wrap:before {
  content: '\f129';
}
.icon-square:before {
  content: '\f12a';
}
.icon-storage:before {
  content: '\f12b';
}
.icon-volume-down:before {
  content: '\f12c';
}
.icon-volume:before {
  content: '\f12d';
}
.icon-wifi:before {
  content: '\f12e';
}
.icon-zoom-in:before {
  content: '\f12f';
}
.icon-zoom-out:before {
  content: '\f130';
}
.icon-bidirection:before {
  content: '\f131';
}
.icon-terminal:before {
  content: '\f132';
}
.icon-remote-controller:before {
  content: '\f133';
}
.icon-unlock:before {
  content: '\f134';
}
.icon-expand:before {
  content: '\f135';
}
.icon-collapse:before {
  content: '\f136';
}
.icon-text:before {
  content: '\f137';
}
.icon-video-recorder:before {
  content: '\f138';
}
.icon-open-file:before {
  content: '\f139';
}
.icon-clear:before {
  content: '\f13a';
}
.icon-eye:before {
  content: '\f13b';
}
