@each $class in (':root', '.-theme-with-dark-background') {
  #{$class} {
    .luna-data-grid-data-container {
      .luna-data-grid-node.luna-data-grid-selected,
      .luna-data-grid-node.luna-data-grid-selectable:hover {
        background-color: if($class == ':root', #ddd, #393939);
      }
      tr:nth-child(even) {
        background-color: if($class == ':root', #ededed, #1e1e1e);
      }
    }
    .luna-data-grid:focus {
      .luna-data-grid-node.luna-data-grid-selectable.luna-data-grid-selected {
        background-color: var(--color-primary);
      }
    }
  }
}
